.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  @include respond(tap-port) {
    padding: 20rem 0;
  }
}
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../images/nat-4.jpg");
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);
  @include respond(tap-port) {
    padding: 10rem 0;
  }
  & > * {
    transform: skewY(7deg);
  }
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  @include respond(tap-port) {
    padding: 20rem 0 10rem 0;
  }
}
.section-stories {
  position: relative;

  padding: 15rem 0;
  @include respond(tap-port) {
    padding: 10rem;
  }
}
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  @include respond(tap-port) {
    padding: 10rem;
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../images/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  @include respond(tap-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../images/nat-10.jpg);
    background-size: cover;
    @include respond(tap-port) {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 100%
        ),
        url(../images/nat-10.jpg);
    }
  }
  &__form {
    width: 50%;
    padding: 6rem;
    @include respond(tap-land) {
      width: 65%;
    }
    @include respond(tap-port) {
      width: 100%;
    }
  }
}
